$primary-color: #0353e9;
$secondary-color: #00c48c;

$font-family-primary: 'Helvetica Neue', sans-serif;
$font-family-secondary: 'Arial', sans-serif;

$background-color: #f4f6f8;
$text-color: #333;
$primary-dark: darken($primary-color, 15%);
$footer-bg-color: #333;
$footer-text-color: #fff;

$btn-background-secondary-color:#ccc;
$btn-background-secondary-color-hover: #bbb;
