@import 'bootstrap/scss/bootstrap';

@import './abstracts/variables';
@import './abstracts/mixins';
@import './base/reset';
@import './components/button';
@import './components/confirm-modal';
@import './layout/header';
@import './pages/login';
@import './pages/musicians';
@import './pages/events';
@import './pages/pending-events';
@import './pages/scores';
@import './pages/calendar';

body {
  font-family: $font-family-primary;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
}

footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
}

.main-content {
  padding: 50px 0;
}
